body{
	background-color:#F5FFFA;
}
.main-block{
	background-color:white;
	width:1200px;
	height:auto;
	border:2px solid #C0C0C0;
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	padding:30px;
	font-family:Gill Sans, sans-serif;
}
.photo{
	height:100%;
	width:50%;
}
.main-information{
	height:100%;
	width:45%;
}
.navigation-menu{
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	margin-top:-24px;

}
.clothing-name h1{
	font-weight:760;
	font-size:25px;
	letter-spacing: 2px;
	text-transform:uppercase;
}
.navigation-menu a{
	text-decoration:none;
	color:#00BFFF;
	font-size:15px;
}
.navigation-menu a:visited{
	color:#00BFFF;
}
.price{
	font-size:20px;
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	margin-top:50px;

}
.old-price{
	text-decoration:line-through;
	opacity:0.3;
}
.price .new-price{
	margin-left:-25%;
	font-weight:550;
	color:gray;
}
.promo-price{
	font-weight:550;
}
.promo-price span{
	font-weight:normal;

}
.availability-block{
	padding:15px;
	padding-left:60px;
	background-color:#F5F5F5;
}
.availabile{
	position:relative;
}
.availabile a{
	text-decoration:none;
	color:#00BFFF;	
}
.availabile a:hover{
	text-decoration:none;
	color:#00BFFF;	
}
.delivery{
	margin-top:-10px;
}
.first-icon{
	display: inline-block;
	position:absolute;
	width: 20px;
	height: 20px;
	background: url(img/first.png) no-repeat;
	background-position: center;
	background-size:100%;	
	margin-left:-200px;
}
.second-icon{
	display: inline-block;
	position:absolute;
	width: 20px;
	height: 20px;
	background: url(img/second.png) no-repeat;
	background-position: center;
	background-size:100%;	
	margin-left:-190px;
}
.button{
	margin-top:10px;
	display: flex;
	flex-direction: row;
	justify-content:space-between;

}
.market{
	display:flex;
	align-items:center;
	justify-content:center;
	border:2px solid #F5F5F5;
	height:40px;
	width:45%;
	text-decoration:none;
	color:white;
	text-transform:uppercase;
	background-color:#1E90FF;
}
.favorites{
	display:flex;
	align-items:center;
	justify-content:center;
	border:2px solid #DCDCDC;
	height:40px;
	width:45%;
	text-decoration:none;
	color:black;
	text-transform:uppercase;
}
.description{
	margin-top:50px;
	opacity:0.8;
}
.social-networks{
	margin-top:50px;
	text-transform:uppercase;
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	
}
.vk{
	margin-top:5px;
	width: 35px;
	height: 35px;
	background: url(img/vk.png) no-repeat;
	background-position: center;
	background-size:100%;
	
	}
.google{
	margin-top:5px;
	width: 35px;
	height: 35px;
	background: url(img/google.png) no-repeat;
	background-position: center;
	background-size:100%;
}
.facebook{
	margin-top:5px;
	width: 35px;
	height: 35px;
	background: url(img/facebook.png) no-repeat;
	background-position: center;
	background-size:100%;
	}
.twitter{
	margin-top:5px;
	width: 35px;
	height: 35px;
	background: url(img/twitter.png) no-repeat;
	background-position: center;
	background-size:100%;
	}
.dialog{
	margin-top:5px;
	width: 35px;
	height: 35px;
	background-color:#DCDCDC;
	display:flex;
	align-items:center;
	justify-content:center;
	position:relative;
}
.dialog::before{
	position:absolute;
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 10px 5px 0;
	border-color: transparent #DCDCDC transparent transparent;
	margin-right:42px;
}
.photo-slide{
	width:55%;
	display:flex;
	flex-direction: row;
	justify-content:space-between;
	margin-right:20px;
}
.left-photos{
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	height:100%;
	width:40%;

}
.right-photo{
	background: url(img/1.jpg) no-repeat;
	background-position: center;
	background-size:120%;
	height:100%;
	width:60%;
}

.first-photo{
	background: url(img/2.jpg) no-repeat;
	background-position: center;
	background-size:100%;
	height:25%;
	width:100%;
	}
.second-photo{
	background: url(img/3.jpg) no-repeat;
	background-position: center;
	background-size:100%;
	height:25%
	}
.third-photo{
	background: url(img/1.jpg) no-repeat;
	background-position: center;
	background-size:100%;
	height:25%
	}
.slider-icon{
	background: url(img/direction.png) no-repeat;
	background-position: center;
	background-size:30%;
	height:10%;
	
	
}

.counter{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	margin-top:30px;
	border:1px solid #808080;
	width:20%;
	height:30px;
	font-size:20px;
}
.counter a{
	text-decoration:none;
	display:flex;
	align-items:center;
	justify-content:center;
	width:33%;
	background-color:#F5F5F5;
}
.counter a:visited{
	color:black;
}
.number-text{
	width:33%;
	border:0.5px solid #808080;
	background-color:#F5F5F5;
	font-size:20px;
	text-align:center;
}
.number-minus{
	
}
